<footer>
    <div class="footer-container">
        <div class="footer-column col-12 col-md-4">
            <h3>About Us</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada faucibus ex, sit amet blandit
                velit tincidunt id.</p>
        </div>
        <div class="footer-column col-12 col-md-4">
            <h3>Categories</h3>
            <ul>
                <li><a href="#">Electronics</a></li>
                <li><a href="#">Clothing</a></li>
                <li><a href="#">Home &amp; Kitchen</a></li>
                <li><a href="#">Books</a></li>
            </ul>
        </div>
        <div class="footer-column col-12 col-md-4">
            <h3>Customer Service</h3>
            <ul>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Shipping Information</a></li>
                <li><a href="#">Returns &amp; Exchanges</a></li>
            </ul>
        </div>
        <div class="footer-column col-12 col-md-4">
            <h3>Follow Us</h3>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <hr>
    <div class="bottom-bar">
        <p>&copy; 2023 - All rights reserved</p>
    </div>
</footer>