<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <label class="logo">Ecommerce</label>
    <ul>
        <li><a href="/products">Shop</a></li>
        <li><a href="#" class="login active">Login</a></li>
        <li><a href="#">Register</a></li>
        <li><a href="#">cart<i class="fas fa-shopping-cart"></i></a></li>
    </ul>
</nav>