<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <label class="logo">Ecommerce</label>
    <ul>
        <li><a href="/products">Shop</a></li>
        <li><a href="/login" class="login active">Login</a></li>
        <li><a href="/register">Register</a></li>
    </ul>
    </div>
</nav>