<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <style>
        body {
            font-family: Arial, sans-serif;

        }

        .container {
            max-width: 400px;
            margin: 100px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .container h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-group label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .form-group input[type="text"],
        .form-group input[type="password"] {
            width: 95%;
            padding: 10px;
            border-radius: 3px;
            border: 1px solid #ccc;
        }

        .form-group button {
            width: 100%;
            padding: 10px;
            background-color: black;
            color: #fff;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        .form-group button:hover {
            background-color: rgb(10, 3, 3);
        }

        .response {
            text-align: center;
            background: black;
            color: white;
            margin: 10px;
            padding: 13px;
            border-radius: 5px;
        }
        .login{
            text-align: center;
            text-decoration: none;
            padding: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>Register</h2>
        <% if (message) { %>
            <div class="response" role="alert">
                <%= message %>
            </div>
            <% } %>
                <form action="/register" method="post">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" placeholder="Enter your name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" id="email" name="email" placeholder="Enter your email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" placeholder="Enter your password" required minlength="6">
                    </div>
                    <div class="form-group">
                        <button type="submit">Register</button>
                    </div>
                    <div class="login">
                        <a href="/login">have an account login</a>
                    </div>
                </form>
    </div>
</body>

</html>